/* TODO: Mirar y quitar importants */

.selected {
  color: #fff !important;
}

.error,
.error:hover {
  background-color: #ea8282;
  border-color: #ea8282 !important;
}

.success,
.success:hover {
  background-color: #60bf88;
  border-color: #60bf88 !important;
}

.list-item span {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.list-item img {
  margin-left: auto;
}

@media (min-width: 500px) {
  .list-item span {
    font-size: 1.5rem;
  }
}
