.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 80vh;
  margin-top: 2rem;
}

.score-element{
  font-family: Poppins700, sans-serif;
  color: #fff;
  font-size: 1rem;
}

.score-element span{
  color: #6FCF97;
}

.title {
  font-family: Poppins700, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 1rem;
}

.logo {
  position: absolute;
  right: 0;
  width: 125px;
}

.section {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem 2.25rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .container {
    width: 461px;
  }

  .title {
    font-size: 2.5rem;
  }

  .logo{
    width: 150px;
  }
}
