.language-selector {
  height: 24px;
  margin-left: auto;
}

.language-selector-list {
  font-family: Poppins700, sans-serif;
  display: flex;
  list-style: none;
  gap: 0.5rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.language-selector-list-item {
  cursor: pointer;
}

.language-selector-list-item:hover {
  color: #f9a826;
}
