.layout-header {
  position: relative;
}

.layout-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  min-height: 50px;
}

.layout-section span {
  margin: 0;
}

.layout-title {
  margin: 0;
  margin-bottom: .75rem;
}

.layout-logo {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 125px;
}

@media (min-width: 500px) {
  .layout-logo {
    width: 150px;
  }
}
